* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main{
    text-align:center;
    width:90%;
    margin:0 auto;
}

main img{
    height: 600px;
}


footer{
    color: white;
    background-color: #000000;
    margin: 0 auto;

    position:sticky;
    bottom: 0;
    width: 100%;
}

/* classi */

/*heder*/

.logo-he{
    height: 50px;
    padding-top:20px
}

.button-head{
    border-style: none;
    cursor:pointer;
    background-color: rgb(253, 88, 27);
    color: white;
}

.icons{
    color: aliceblue;
}


.link-header {
    display: flex;
    list-style: none;
    gap: 1em;
    padding-top: 25px;
}

.flex-center{
    display: flex;
    justify-content: space-around;
}

/*main*/

.scritte-iniziali{
    margin: 50px;
    padding-top: 20px;
    font-size: 20px;
}


.flex-pag{
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
}

.flex-par{ 
    border: solid rgb(216, 216, 216) 1px;
    text-align: left;
}

.flex-te{
    padding:10px;

}


.prezzo{
    color:red
}

.black{
    color:black
}

.grey{
    color: rgb(141, 140, 140);
    font-size: small;
}
/* footer*/


.flex-cont-footer{
    margin: 0 auto;
    height:6em;

    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.foot-sect{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.at-text{
    text-decoration: none;
    color:white;
    font-size: small;
}


/* ID */

#fot-li{
    list-style: none;

    display: flex;
    gap: 10px;
}

#container-header{
    margin: 0 auto;
    background-color: rgb(253, 88, 27);
    height: 70px;
}